name: deploy-book

on:
  push:
    branches:
      - main  # or whatever branch you work on

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install -U jupyter-book ghp-import
      - name: Build the book
        run: jupyter-book build mybook/
      - name: Deploy to GitHub Pages
        run: |
          ghp-import -n -p -f mybook/_build/html